<% for(var slug in public.posts._data){ %>

  <h1><a href="/posts/<%= slug %>"><%= public.posts._data[slug].blogtitle %></a></h1>
  <p><a href="/posts/<%= slug %>"><%= public.posts._data[slug].date %></a> <br><a href="/posts/author"><%= public.posts._data[slug].author %></a>
</p>
<p>
<%= public.posts._data[slug].blogslug %>
</p>


<% }; %>
