<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">



<title><%= title %></title>
<meta property="og:title" content="<%= title %>" />
<meta name="description" content="<%= description %>">
<meta property="og:description" content="<%= description %>" />



<!-- CSS -->
<link href="<%= config.assets.folder_css %>/main.css" media="all" rel="stylesheet" />
